@import '../../styles/variables';

.favoritesSection {
  padding: 1rem;
  .favoritesSection__header {
    text-align: center;
    h1 {
      color: $mainColor;
    }
  }
  .favoritesSection__list{
    text-align: center;
    .favorites{
      margin: 20% 0;
      display: grid;
      grid-template-columns: 3fr 1fr;
      .favoritesInfo{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        a{
          grid-column: 1/2;
          img{
            width: 90%;
          }
        }
        div{
          grid-column: 2/2;
          p{
            font-family: 'Quattrocento';
          }
        }
      }
      .favoritesLike{
        grid-column: 2/2;
        margin-top: 40%;
      }
    }
  }
}
