@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Quattrocento&display=swap');

$mainColor: #48512A;
$subColor: #606C38;
$beige: #FEFAE0;
$thirdColor: #DDA15E;
$fourthColor: #B97527;