<div class="footer-mobile">
  <nav>
    <ul>
      <li>
        <a href="../../index.html"><img src="/images/NavHome.png" alt="Navigate to Home" /></a>
      </li>
      <li>
        <a href="../../add-activity/index.html"
          ><img src="/images/NavAdd.png" alt="Navigate to Add Activity"
        /></a>
      </li>
      <li>
        <a href="../../activity/index.html"
          ><img src="/images/NavSearch.png" alt="Navigate to Search"
        /></a>
      </li>
      <li>
        <a href="../../favorites/index.html"
          ><img src="/images/NavFavorites.png" alt="Navigate to Favorites"
        /></a>
      </li>
      <li id="login">
        <a href="../../profile/index.html"
          ><img src="/images/NavProfile.png" alt="Navigate to Profile"
        /></a>
      </li>
    </ul>
  </nav>
</div>
